<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
    <span style="text-align: right;">
      <button type="button" class="bt  btn-primary" [routerLink]="['/cart',cartItems]">
        Cart <span class="badge badge-light">{{cartValue}}</span>  
       </button>                
    </span>
  </div>

  <div class='card-body'>
    <div class='row'>
      <div class='col-md-2'>{{filterBoxLabel}}</div>
      <div class='col-md-4'>
        <input type='text' [(ngModel)]='listFilter' />
      </div>
    </div>
    <div class='row'>
      <div class='col-md-6'>
        <h4>{{filterValueLabel}} {{listFilter}}</h4>
      </div>
    </div>
    <button class='btn btn-primary' (click)='toggleImage()'>
                {{showImage ? 'Hide Image' : 'Show Image' }}
    </button>
    </div>
  </div>
  <div class='album py-5 bg-light'>
    <div class='container'>
      <div class='row' *ngIf='filteredList && filteredList.length'>
        <div class='col-md-4' *ngFor='let product of filteredList'>
          <div class='card mb-4 box-shadow'>
            <a [routerLink]="['/products',product.productId]">
            <img class='card-img-top center' style="height: 125px; width: 80%; display: block;" *ngIf='showImage'
              [src]='product.imageUrl' [title]='product.productName'/></a>
            <div class="card-body text-center">
                {{ product.productName }}
              <p>{{ product.productCode | lowercase | convertToSpaces : '-' }} <->
                  {{ product.releaseDate }} <->
                    {{ product.price | currency :'USD' }}
              </p>
              <p class='text-left'>Rating : 
                <pm-star [rating]='product.starRating' (ratingClicked)='onRatingClicked($event)'>
                </pm-star>
              </p>
              <div><button class="btn btn-primary" (click) = "onAddToCart(product)" >Add To Cart</button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
